[Interface]
Address             = {{ config["address"] }}
PrivateKey          = {{ config["privatekey"] }}
#PublicKey          = {{ config["publickey"] }}

{%- for key, value in config.get("config", {}).items() %}
{{ key }}           = {{ value }}
{%- endfor %}

{%- if "listen" in config %}
ListenPort          = {{ config["listen"] }}
{%- endif %}


{% for peer in config.get("peer",[]) %}
[Peer]
  {%- if "comment" in peer %}
#Comment            = {{ peer["comment"] }}
  {%- endif %}
PublicKey           = {{ peer["publickey"] }}
AllowedIPs          = {{ peer["allowedips"] }}
  {%- if "endpoint" in peer %}
Endpoint            = {{ peer["endpoint"] }}
  {%- endif %}
  {%- if "keepalive" in peer %}
PersistentKeepalive = {{ peer["keepalive"] }}
  {%- endif %}
{% endfor %}
